//- include structureConfiguration
nav.account-links
	ul.account-links-secondary
		each v,i in config.quickAccess
			li(class='dropDown hoverFade')
				a(href="" + v.src, target="" + v.target, class=v.class ? ""+ v.class : '', onclick= v.event ? ''+ v.event : '') #{v.name}


	ul.account-links-primary
		each v0,i0 in config.myAccount
			li(class='dropDown hoverFade '+ v0.class)
				a(href="" + v0.src, target="" + v0.target, onclick= v0.event ? ''+ v0.event : '') #{v0.name}
				
				.nav-columns.nav-myaccount.equalizeHeights.hoverFadeTarget
					.col
						ul
							each v1,i1 in config.myAccount
								each v2,i2 in v1.nav
									li(class=''+ v2.class)
										a(data-metrics=v2.metrics ? ''+ v2.metrics : '', href="" + v2.ref, target="" + v2.target, onclick= v2.event ? ''+ v2.event : '') #{v2.name}

		li#refreshcart.cart-button
			span.view-basket.show-quickcart
				span.dropDown.hoverFade
					a.view-cart(href='javascript:void(0)' style="padding-left: 15px;")
						| Carrito
					span#cart-count (0)
					#quickcart-container.hoverFadeTarget
						#cartItemsList.col
							ul
								li.view-cart.logged
									p.quickcart-header
										span#minicartcount 0
										input#cartCurrentCount(type='hidden', value='0')
										|               Artículos en tu carrito
								li
						input#loggedin(type='hidden', value='true')
						#ws-page-spinner.a-row.a-hidden
							.a-row.wsc-overwrap
							.a-row.minwsc-spinner
								img(alt='', src='' + config.urlLoader)
				span.checkout-button
					a#mcartcheckout(href='javascript:void(0)')
						| Comprar