article(class="carousel" id=cmp data-mode=mode)
	ul(class="carousel__container" id=cmp+"__container")
		each v0,i0 in config.lists
			li(class='carousel__container-item') #{v0.txt}
	button(class="prevBtnCarousel" id=cmp+"__prev")
	button(class="nextBtnCarousel" id=cmp+"__next")