section(class=cmp+"__wrapper" id=cmp+"__wrapper")
	if customList.elements
		ul(class=cmp id=cmp data-mode=mode)
			- for (var x = 0; x < customList.elements; x++)
				li(class=cmp+'-item')
					if customList.include == 'card-brief'
						include ../molecules/card/brief
					if customList.include == 'mall'
						- var idCard = x
						include ../molecules/card/mall
					if customList.include == 'image'
						include ../molecules/card/image
					if customList.include == 'text'
						include ../molecules/card/text
					if customList.include == 'video'
						include ../molecules/card/video
					if customList.include == 'magazine'
						include ../molecules/card/magazine
	else
		ul(class=cmp id=cmp data-mode=mode)
			each v0,i0 in config.lists
				li(class=cmp+'-item')