if customList
	ul(class=el+" "+modifier id=el)
		each v0,i0 in customList
			li(class=el+'__item')
				- var dataRadio = {id:'radioComponent', name:'radioComponent', value:v0, chk:false};
				include ../../atoms/radioButtons/radioButton			
else
	ul(class=el+" "+modifier id=el)
		each v0,i0 in config.defaultText
			li(class=el+'__item')
				- var dataRadio = {id:'radioComponent'+i0, name:'radioComponent', value:v0.txt, chk:false};
				include ../../atoms/radioButtons/radioButton